.cripto-first {
    background: rgba(197, 53, 241, 0.911);
    width: 95%;
    max-width: 500px;
    border-radius: 20px;
    color: white;
    padding: 20px;
    text-align: center;
}

.icon-arrow {
    transform: rotate(90deg);
    font-size: 12px;
    padding: 5px;
}

.cripto-title {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cripto-title h2 {
    text-transform: uppercase;
}

.cripto-title img {
    width: 50px;
}