element.style {
  --bg: #121212;
  --colorS: #1f1f1f;
  --colorTxtCR: #eff2f7;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.App {
  position: relative;
}

main {
  display: grid;
  grid: 1fr;
  place-items: center;
  gap: 30px;
  width: calc(87% + 30px);
  margin: auto;
  padding: 50px 0;
}

@media (min-width: 768px) {
  main {
    grid: 2fr / 1fr 1fr;
  }
}

.cards_con {
  width: 90%;
  height: 509px;
  display: grid;
  align-self: stretch;
  gap: 20px;
}

@media (min-width: 1440px) {
  .cards_con {
    width: 50%;
  }
}

.white,
.white {
  font-weight: bold;
}

.white {
  color: rgb(255, 255, 255);
}

.white {
  color: rgb(23, 214, 248);
}

.porcentaje {
  background: rgb(215, 15, 233);
  padding: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.cripto-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.cripto-info img {
  width: 30px;
  height: 30px;
}

.cripto-title {
  display: flex;
  align-items: center;
  color: white;
}

.cripto-title h2 {
  text-transform: uppercase;
  font-size: 17px;
  margin-left: 20px;
}

.cripto-first .graphic {
  position: relative;
  height: 250px;
  background: white;
  margin: 20px;
  border-radius: 5px;
  padding: 5px;
}